/* Desktop - 1 */

/* Auto layout */
button1{
    background-color:#0c3478;
    color:#fff;
    border:0;
    border-radius:10px;
    cursor:pointer;
}

button1:hover{
    color:#e8f1ff;
    background-color:#fff;
    border:2px #003C9D solid;
}
.b1{
    position:absolute;            
     top:180px;             
     left:470px;
    display: block;
}

.b2{
    position:absolute;            
     top:180px;             
     left:900px;
    display: block;
}
.b3{
    position:absolute;            
     top:180px;             
     left:1330px;
    display: block;
}
.backg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 236px;
    isolation: isolate;

    position: relative;
    width: 1920px;
    height: 1080px;

    background: #0d0332;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}



/* 頂部欄 */
.up{
    width: 1920px;
    height: 274px;
    background: #D9D9D9;
}

/* logo */
.logo{
    position: absolute;
    width: 258px;
    height: 231px;
    top: 22px;
    background: url(<C:\Users\沈思安\Downloads\logo.jpg>), lightgray 50% / cover no-repeat;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}
.container {
    position: relative;
    display: flex;
}
.rt{
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    width: 210px;
    height: 300px;
    background: rgb(8, 8, 82);
    border: 1px solid #000000;
    box-shadow: 10px 10px 10px rgb(249, 248, 248);
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    transition: top 0.3s ease-in-out;
}
.rt:hover
{
    cursor:pointer;
}

.button{
    background-color: #000000;
    border-radius: 15px;
    position: absolute;
    color: white;
    top: 80%;
    font-size:50;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button:hover
{
    cursor:pointer;
}
.mouse
{
    cursor: wait;
}
.block{
    height: 100px;
    width:  100%;
    background-color: #0d0332;
    position: absolute;
    bottom: 60;
    margin: auto;
    text-align: center;  
    font-size: 40;

}
.block9{
    height: 100px;
    width:  100%;
    background-color: #0d0332;
    position: absolute;
    bottom: 0;
    margin: auto;
}

    
.rotateEffect {
    animation: rotateAnimation 1s 2 alternate linear; /* 旋轉效果，根據需要更改角度 */
}
@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.rt:nth-child(1) {
    left: 400px;
}
  
.rt:nth-child(2) {
    left: 350px; 
}
  
.rt:nth-child(3) {
    left: 300px; 
}
.rt:nth-child(4) {
    left: 250px;
}
  
.rt:nth-child(5) {
    left: 200px; 
}
  
.rt:nth-child(6) {
    left: 150px; 
}
.rt:nth-child(7) {
    left: 100px;
}
  
.rt:nth-child(8) {
    left: 50px; 
}
  
.rt:nth-child(9) {
    left: 0px; 
}
.rt:nth-child(10) {
    left: -50px;
}
  
.rt:nth-child(11) {
    left: -100px; 
}
  
.rt:nth-child(12) {
    left: -150px; 
}
.rt:nth-child(13) {
    left: -200px;
}
  
.rt:nth-child(14) {
    left: -250px; 
}
  
.rt:nth-child(15) {
    left: -300px;
}

.rt:nth-child(16) {
    left: -350px;
}

.rt:nth-child(17) {
    left: -400px; 
}

.rt:nth-child(18) {
    left: -450px; 
}
.rt:nth-child(19) {
    left: -500px; 
}
