body{
    font-family: Arial, sans-serif;
    border-radius: 144px;
    background: #0d0332;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    font-size:16px;
}
header{
    display: block;
    margin : 10px auto ;
    border-radius: 8px;
    flex-shrink: 0;
    background-color: #fbfbfb;
    opacity: 0.9;
    width: 100%;
    height: 30%;                  
}
h1{
    font-family: DFKai-sb;
    position: relative;
    text-align: center;
    top: 60;
}
h3{
    font-family: DFKai-sb;
    position: relative;
    text-align: center;
    top: 50;
}
.logo{
    width:10%;
    position:absolute;
    top:5%;
    left:5%;
    background-size:cover;
}
.container {
    position: relative;
    display: flex;
}
.rt{
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    width: 130px;
    height: 180px;
    background: rgb(8, 8, 82);
    border: 1px solid #000000;
    box-shadow: 8px 8px 8px rgb(249, 248, 248);
    border-radius: 15px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    transition: top 0.3s ease-in-out;
    overflow: hidden;
}
.rt:before,
.rt:after {
	content: "";
	box-sizing: content-box;
	position: absolute;
	top: 0;
	left: 16.5;
	width: 90px;
	height: 90px;
	border: 3px solid rgb(212, 219, 227);
	border-radius: 0px 0px 0 0px;
	transform: rotate(-45deg);
}
.rt:after {
    top:80;
    width: 90px;
	height: 90px;
	border-radius: 0px 0px 0px 0;
	transform: rotate(45deg);
}
.rt:hover
{
    cursor:pointer;
}
.button{
    background-color: #000000;
    border-radius: 10px;
    font-family: DFKai-sb;
    position: relative;
    color: white;
    top: 100%;
    text-align: center;
    font-size:35;
    left: 50%;
    transform: translate(-50%, -50%);
}
button:hover{
    color:hsl(0, 0%, 0%);
    padding:3px;
    background-color: #fbfbfb;
    cursor: pointer;
    transition: 0.7s;
}
.mouse
{
    cursor: wait;
}
.block{
    height: 100px;
    width:  100%;
    background-color:#0d0332;
    position: absolute;
    margin: auto;
    text-align: center;  
    top: 135%;

}
.block9{
    height: 100px;
    width:  100%;
    background-color: #0d0332;
    position: absolute;
    margin: auto;
    top: 0;
}
.rotateEffect {
    animation: rotateAnimation 1s 4 alternate linear; /* 旋轉效果，根據需要更改角度 */
}
@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.rt:nth-child(1) {
    left: 900px; 
}
.rt:nth-child(2) {
    left: 870px; 
}
.rt:nth-child(3) {
    left: 840px; 
}
.rt:nth-child(4) {
    left: 810px;
}
.rt:nth-child(5) {
    left: 780px; 
}
.rt:nth-child(6) {
    left: 750px; 
}
.rt:nth-child(7) {
    left: 720px;
}
.rt:nth-child(8) {
    left: 690px; 
}
.rt:nth-child(9) {
    left: 660px; 
}
.rt:nth-child(10) {
    left: 630px;
}
.rt:nth-child(11) {
    left: 600px; 
}
.rt:nth-child(12) {
    left: 570px; 
}
.rt:nth-child(13) {
    left: 540px;
}
.rt:nth-child(14) {
    left: 510px; 
}
.rt:nth-child(15) {
    left: 480px; 
}
.rt:nth-child(16) {
    left: 450px;
}
.rt:nth-child(17) {
    left: 420px; 
}
.rt:nth-child(18) {
    left: 390px;
}
.rt:nth-child(19) {
    left: 360px;
}
.rt:nth-child(20) {
    left: 330px; 
}
.rt:nth-child(21) {
    left: 300px; 
}
.rt:nth-child(22) {
    left: 270px; 
}
